---
Checks: '*
	,-altera-id-dependent-backward-branch
	,-altera-struct-pack-align
	,-altera-unroll-loops
	,-bugprone-easily-swappable-parameters
	,-fuchsia-default-arguments-calls
	,-fuchsia-overloaded-operator
	,-llvmlibc*
	,-misc-non-private-member-variables-in-classes
	,-modernize-use-trailing-return-type
'

HeaderFilterRegex: '.*'

FormatStyle: file
...
